.radio-container{
    border-radius: 40px;
    cursor: pointer;
    outline:1px solid #999;
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-out;
    user-select: none;
    padding-top:-1px;
    margin:0;
    box-sizing: content-box;
}
.radio-container:hover{
    outline:2px solid #f16d37;
}
.selected-radio{
    outline:2px solid #f16d37;
    box-shadow: 0px 0px 1px #f16d37;
    background-color: #f16d37;
}
.selected-radio:hover{
}
.radiomark-icon{
    margin-left:-1px;
    fill:black;
    height: 11px;
    width: 11px;
}
.radio{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0px;
    width:0px;
}
.radio-label{
    font-size: 14px;
    color: #374151;
}
.radio-box{
    margin-bottom: 10px;
    width:max-content;
}