.input-wrapper{
    width:100%;
    border:1px solid #999999;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-left: 10px;
}
.input-wrapper:hover,.input-wrapper:focus-within{
    border:1px solid #777777;
}
.input{
    padding:10px;
    padding-left: 2px;
    outline: none;
    border:none;
    width: 100%;
    color:#343434;
}
.input-icon{
    height: 13px;
    width: 13px;
    color: rgb(108, 108, 108);
}