.checkbox-container{
    border-radius: 5px;
    cursor: pointer;
    border:3px solid rgb(97, 172, 195);
    display: flex;
    width: 14px;
    height: 14px;
    align-items: center;
    justify-content: center;
    transition: all 200ms ease-out;
    user-select: none;
    padding-top:-1px;
    margin:0;
    box-sizing: content-box;
}
.checkbox:focus{
    outline:3px solid rgb(41, 100, 118);
}
.checkboxmark-icon{
    margin-left:-1px;
    stroke-width: 2px;
    stroke: rgb(61, 122, 141);
    height: 11px;
    width: 11px;
}
.checkbox{
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0px;
    width:0px;
}
.checkbox-label{
    font-size: 14px;
    color: #374151;
}
.checkbox-box{
    margin-bottom: 10px;
    width:100%;
}